{% comment %}
Empty State 컴포넌트 - 데이터가 없을 때 표시되는 메시지
사용법:
{% include 'components/empty_state.html' with icon=DOCUMENT_ICON title='기여 기회가 곧 공개됩니다' message='새로운 기여 기회가 생기면 Discord와 이메일로 알려드릴게요!' %}
{% include 'components/empty_state.html' with icon=QUESTION_ICON title='FAQ가 곧 업데이트됩니다' message='궁금한 점이 있으시면 Discord로 문의해주세요!' %}
{% endcomment %}

<div class="text-center py-12">
    {% include 'components/icons.html' with path_d=icon color='text-gray-400' size='w-16 h-16' %}
    <h3 class="text-lg font-semibold text-gray-900 mb-2 mt-4">{{ title }}</h3>
    <p class="text-gray-600">{{ message }}</p>
    {% if action_text and action_href %}
        <div class="mt-4">
            {% include 'components/button.html' with style='primary' text=action_text href=action_href %}
        </div>
    {% endif %}
</div>
